 @font-face {
    font-family: 'Mazzard H';
    font-style: normal;
    font-weight: bold;
    url('https://github.com/aiedrow/Web-Fonts/raw/refs/heads/main/Mazard/MazzardH-Bold.woff') format('woff');
    }

@font-face {
    font-family: 'Mazzard H';
    font-style: normal;
    font-weight: normal;
    url('https://github.com/aiedrow/Web-Fonts/raw/refs/heads/main/Mazard/MazzardH-ExtraLight.woff') format('woff');
    }
    
 @font-face {
    font-family: 'Mazzard H';
    font-style: normal;
    font-weight: bolder;
    url('https://github.com/aiedrow/Web-Fonts/raw/refs/heads/main/Mazard/MazzardH-ExtraBold.woff') format('woff');
    }
    
 @font-face {
    font-family: 'Mazzard H';
    font-style: normal;
    font-weight: black;
    url('https://github.com/aiedrow/Web-Fonts/raw/refs/heads/main/Mazard/MazzardH-Black.woff') format('woff');
    }
